extends layout

block content
  #wrapper
    #logo
      <a href='/select'><img src='/images/Untitled4.png'></a>
    #display
      include userbar
      P
      P &nbsp;

      | Welcome <b>#{username}</b>. Please select your desired race. 
      P
        
      //-for (var racename in races)
        //- var racename = races[racename]

        //div

        //a(href='/race/#{races.racename}') #{racename}
       //<a href="/race/#{racename}"> #{racename} kitty </a>
      p
      
      p <a href="/race/Dwarf"> Dwarf</a>
      p <a href="/race/Gnome"> Gnome </a>
      p <a href="/race/Halfling"> Halfling </a>
      p <a href="/race/HalfElf"> Half-Elf </a>
      p <a href="/race/HalfOrc"> Half-Orc </a>
      p <a href="/race/Human"> Human </a>
      p <a href="/race/Elf"> Elf </a>



    include footer
