extends layout

block content
  #wrapper
    #logo
      <a id="top"><a href='/select'><img src='/images/Untitled4.png'></a></a>
    #display
      include userbar
      P &nbsp;
      | <i>Please use the following links select your desired class. To return to the top, press "backspace" on your keyboard. </i>
      P
      P &nbsp;
      | <b>Quick Select</b>
      <table>
      <tr>
      </tr>
      <tr>
      <td><a href="#Barbarian1">Barbarian</a></td>
      <td> | </td>
      <td><a href="#Bard1">Bard</a></td>
      <td> | </td>
      <td><a href="#Cleric1">Cleric</a></td>
      <td> | </td>
      <td><a href="#Druid1">Druid</a></td>
      <td> | </td>
      <td><a href="#Fighter1">Fighter</a></td>
      <td> | </td>
      <td><a href="#Monk1">Monk</a></td>
      </tr>
      <tr>
      <td><a href="#Paladin1">Paladin</a></td>
      <td> | </td>
      <td><a href="#Ranger1">Ranger</a></td>
      <td> | </td>
      <td><a href="#Rogue1">Rogue</a></td>
      <td> | </td>
      <td><a href="#Sorcerer1">Sorcerer</a></td>
      <td> | </td>
      <td><a href="#Wizard1">Wizard</a></td>
      </tr>
      </table>
    
    P &nbsp;
    hr
    P &nbsp;
    P &nbsp;


     -for (var level in items)
        - var item = items[level]
        div
         <a id="#{item.name}#{item.level}"> <a href='/stat/#{level}'> #{item.name} - #{item.level} </a> </a>


      //-for (var name in items)
        //- var item = items[name]
          // for item, i in items[name]
            // if i % 44 === 0
              //| #{item.name} cow
      //-for (var level in items)
       // - var item = items[level]
       // div 
        //a(href='/item/#{level}') #{item.name} - #{item.level}

     //-for (var name in items)
       // - var item = items[name]
         //  for item, i in items[name]
           // if i % 44 === 0
        //div
          //| Level #{item.name} cow
          //-var colCount = 0
           // for level, i in items
             //if i % 44 === 0
           //a(href='/stat/#{level}') #{item.level}

          //for (var name in items)
             //- var name = items[name]
             //div 
             //a(href='/stat/#{level}') #{item.name} */

         


    p &nbsp;
    P &nbsp;
    p <center> <a href="#top">Return to the top</a></center>
    p &nbsp;
    p &nbsp;
    include footer
    P &nbsp;
    p &nbsp;
    p &nbsp;
    P &nbsp;
    p &nbsp;
    P &nbsp;
    p &nbsp;
    p &nbsp;
    p &nbsp;
    p &nbsp;
    P &nbsp;
    p &nbsp;
    <center>
    <a href='/page'><img src='/images/unicorns.png' alt='Click for adventure...'></a>
   
    </center>
   
