extends layout

block content
  #wrapper
    #logo
      a(href='/')
      img(src='/images/Untitled4.png')
    #display
      include userbar
      p
      &nbsp;

      p Welcome, #{username}. This page shows the class skills for a <b>#{name}</b> at level <b>#{level}. </b>
      p
      table#skills(border = 1)
        th Skill Points
          tr
            td Class:
            td <b> #{name} </b> 
          tr
            td Level:
            td <b> #{level} </b>
          tr
            td Appraise:
            td <b> #{appraise} </b>
          tr
            td Balance:
            td <b> #{balance} </b>
          tr
            td Bluff:
            td <b> #{bluff} </b>
          tr
            td Climb:
            td <b> #{climb} </b>
          tr
            td Concentration:
            td <b> #{concentration} </b>
        tr
            td Craft:
            td <b> #{craft} </b>
          tr
            td Decipher Script:
            td <b> #{decipher_script} </b>
          tr
            td Diplomacy:
            td <b> #{diplomacy} </b>
          tr
            td Disable Device:
            td <b> #{disable_device} </b>
          tr
            td Disguise:
            td <b> #{disguise} </b>
          tr
            td Escape Artist:
            td <b> #{escape_artist} </b>
          tr
            td Forgery:
            td <b> #{forgery} </b>
          tr
            td Gather Information:
            td <b> #{gather_information} </b>
          tr
            td Handle Animal:
            td <b> #{handle_animal} </b>
          tr
            td Heal:
            td <b> #{heal} </b>
          tr
            td Hide:
            td <b> #{hide} </b>
          tr
            td Intimidate:
            td <b> #{intimidate} </b>
          tr
            td Jump:
            td <b> #{jump} </b>
          tr
            td
            td
              tr
                td <b> Knowledge: </b>
                  tr
                    td &nbsp; &nbsp; Arcana:
                    td <b> #{knowledge_arcana} </b>
                  tr
                    td &nbsp; &nbsp; *Architecture:
                    td <b> #{knowledge_architecture_and_engineering} </b>
                  tr
                    td &nbsp; &nbsp; Dungeoneering:
                    td <b> #{knowledge_dungeoneering} </b>
                  tr
                    td &nbsp; &nbsp; Geography:
                    td <b> #{knowledge_geography} </b>
                  tr 
                    td &nbsp; &nbsp; History:
                    td <b> #{knowledge_history} </b>
                  tr 
                    td &nbsp; &nbsp; Local:
                    td <b> #{knowledge_local} </b>
                  tr 
                    td &nbsp; &nbsp; Nature:
                    td <b> #{knowledge_nature} </b>
                  tr 
                    td &nbsp; &nbsp; Nobility/Royalty:
                    td <b> #{knowledge_nobility_and_royalty} </b>
                  tr 
                    td &nbsp; &nbsp; Religion:
                    td <b> #{knowledge_religion} </b>
                  tr 
                    td &nbsp; &nbsp; Planes:
                    td <b> #{knowledge_planes} </b>
          tr
            td 
            td
          tr
            td Listen: 
            td <b>#{listen} </b>
          tr
            td Move Silently:
            td <b>#{move_silently} </b>
          tr
            td Open Lock:
            td <b>#{open_lock} </b>
          tr
            td Perform:
            td <b>#{perform} </b>
          tr
            td Profession:
            td <b>#{profession} </b>
          tr
            td Ride:
            td <b>#{ride} </b>
          tr
            td Search:
            td <b>#{search} </b>
          tr 
            td Sense Motive:
            td <b>#{sense_motive} </b>
          tr
            td Sleight of Hand:
            td <b>#{sleight_of_hand} </b>
          tr 
            td Spellcraft:
            td <b>#{spellcraft} </b>
          tr
            td Spot:
            td <b>#{spot} </b>
          tr
            td Survival:
            td <b>#{survival} </b>
          tr
            td Swim:
            td <b>#{swim} </b>
          tr 
            td Tumble:
            td <b>#{tumble} </b>
          tr
            td Use Magic Device:
            td <b>#{use_magic_device} </b>
          tr 
            td Use Rope:
            td <b>#{use_rope}</b>
          tr
            td &nbsp;
            td &nbsp;
      
        th Bonuses and Saves
          tr
            td Base Attack Bonus: 
            td <b>#{base_attack_bonus}</b>
          tr
            td Fortitude Save: 
            td <b>#{fort_save}</b>
          tr 
            td Reflex Save
            td <b>#{ref_save}</b>
          tr
            td Willpower Save
            td <b>#{will_save}</b>
      p
      p &nbsp;
      p
      <i>*Architecture and Engineering</i>
      P    
      p Please remember the above stats are only the baseline recommendations and do not include all parts of the character sheet.
      P The numbers next to the stats are the required stat points for each character. These numbers were determined via a base roll, with the base stat of <b> #{base_int} </b> for Intelligence. The character has a total of <b>#{stat_points} </b>points available for distribution among the different stat points. 
      
    P
    P
    P

    include footer
