extends layout

block content
  #wrapper
    #logo
      a(href='/')
      img(src='/images/Untitled4.png')
    #display
      include userbar
      
      p Welcome, <b> #{username} </b>. This will be the page for <b>#{racename}</b>. 
      p
      table#races
        th Skill Points
          tr
            td Race:
            td <b> #{racename}</b>
          tr
            td Strength:
            td <b> #{strength} </b>
          tr
            td Dexterity:
            td <b> #{dexterity} </b>
          tr
            td Constitution:
            td <b> #{constitution} </b>
          tr
            td Intelligence:
            td <b> #{intelligence} </b>
          tr
            td Wisdom:
            td <b> #{wisdom} </b>
          tr
            td Charisma:
            td <b> #{charisma} </b>
        tr
            td Size:
            td <b> #{sizes} </b>
          tr
            td Armor Class:
            td <b> #{ac} </b> 
      p
     
      These are the stat adjustments for <b>#{racename}</b>: #{statadjust}
      P
      P These are the skill adjustments for <b>#{racename}</b>: #{skilladjust}
      P The skill adjustments should be added into the appropriate boxes within the character sheet - they are not added onto the scores listed above. 
    
      p Please remember the above stats are only the baseline recommendations and do not include all parts of the character sheet.
      
    include footer
