extends layout

block content
  #wrapper
    #logo
      img(src='/images/Untitled4.png')
    #display
      include userbar
      
      p Welcome, #{username}. This page is #{name} at level #{level}. PUPPIES AND RAINBOWS FOR TESTING
      p
      table#table
        th Skill Points
          tr
            td Class:
            td #{name}
          tr
            td Level:
            td #{level}
          tr
            td Appraise:
            td #{appraise}
          tr
            td Balance:
            td #{balance}
          tr
            td Bluff:
            td #{bluff}
          tr
            td Climb:
            td #{climb}
          tr
            td Concentration:
            td #{concentration}
        tr
            td Craft:
            td #{craft}
          tr
            td Decipher Script:
            td #{decipher_script}
          tr
            td Diplomacy:
            td #{diplomacy}
          tr
            td Disable Device:
            td #{disable_device}
          tr
            td Disguise:
            td #{disguise}
          tr
            td Escape Artist:
            td #{escape_artist}
          tr
            td Forgery:
            td: #{forgery}
          tr
            td Gather Information:
            td #{gather_information}
          tr
            td Handle Animal:
            td #{handle_animal}
          tr
            td Heal:
            td #{heal}
          tr
            td Hide:
            td #{hide}
          tr
            td Intimidate:
            td #{intimidate}
          tr
            td Jump:
            td #{jump}
          tr
            td
            td
              tr
                th Knowledge:
                  tr
                    td &nbsp; &nbsp; Arcana:
                    td #{knowledge_arcana}
                  tr
                    td &nbsp; &nbsp; *Architecture:
                    td #{knowledge_architecture_and_engineering}
                  tr
                    td &nbsp; &nbsp; Dungeoneering:
                    td #{knowledge_dungeoneering}
                  tr
                    td &nbsp; &nbsp; Geography:
                    td #{knowledge_geography}
                  tr 
                    td &nbsp; &nbsp; History:
                    td #{knowledge_history}
                  tr 
                    td &nbsp; &nbsp; Local:
                    td #{knowledge_local}
                  tr 
                    td &nbsp; &nbsp; Nature:
                    td #{knowledge_nature}
                  tr 
                    td &nbsp; &nbsp; Nobility/Royalty:
                    td #{knowledge_nobility_and_royalty}
                  tr 
                    td &nbsp; &nbsp; Religion:
                    td #{knowledge_religion}
                  tr 
                    td &nbsp; &nbsp; Planes:
                    td #{knowledge_planes}
          tr
            td
            td
          tr
            td Listen: 
            td #{listen}
          tr
            td Move Silently:
            td #{move_silently}
          tr
            td Open Lock:
            td #{open_lock}
          tr
            td Perform:
            td #{perform}
          tr
            td Profession:
            td #{profession}
          tr
            td Ride:
            td #{ride}
          tr
            td Search:
            td #{search}
          tr 
            td Sense Motive:
            td #{sense_motive}
          tr
            td Sleight of Hand:
            td #{sleight_of_hand}
          tr 
            td Spellcraft:
            td #{spellcraft}
          tr
            td Spot:
            td #{spot}
          tr
            td Survival:
            td #{survival}
          tr
            td Swim:
            td #{swim}
          tr 
            td Tumble:
            td #{tumble}
          tr
            td Use Magic Device:
            td #{use_magic_device}
          tr 
            td Use Rope:
            td #{use_rope}
      p
     
      table#bonuses
        th Bonuses and Saves
          tr
            td Base Attack Bonus: 
            td #{base_attack_bonus}
          tr
            td Fortitude Save: 
            td #{fort_save}
          tr 
            td Reflex Save
            td #{ref_save}
          tr
            td Willpower Save
            td #{will_save}
    
      p Please remember the above stats are only the baseline recommendations and do not include all parts of the character sheet.
      
    include footer
